html,
body,
html, body {height:100%;overflow:auto;margin: 0;}
html{overflow-y:hidden;}
#app {width: 100%;height: 100%;}
.paging{text-align:right;padding-right:20px;padding-top:20px;}
.btnRight{float:right;margin-bottom: 10px;}
.FL{float: left!important;}
.FR{float: right!important;}
.TC{text-align: center;}
.PORE{position: relative;}
.DisplayInline{display: inline-block;}


.W10{width:10%!important;margin-right:2%!important;}
.W20{width:20%!important;margin-right:2%!important;}
.W30{width:30%!important;margin-right:2%!important;}
.W34{width:34%!important;margin-right:2%!important;}
.W36{width:36%!important;margin-right:2%!important;}
.W40{width:40%!important;margin-right:2%!important;}
.W50{width:50%!important;margin-right:2%!important;}
.W54{width:54%!important;margin-right:2%!important;}
.W60{width:60%!important;margin-right:2%!important;}
.W90{width:90%!important;margin-right:2%!important;}
.W100{width:100%!important;margin-right:2%!important;}

.WW80{width:80px!important;margin-right: 10px!important;}
.WW100{width:100px!important;margin-right: 10px!important;}
.W150{width:150px!important;margin-right:10px!important;}
.W200{width:200px!important;margin-right:10px!important;}
.W250{width:250px!important;margin-right:10px!important;}
.W270{width:270px!important;margin-right:10px!important;}
.W300{width:300px!important;margin-right:10px!important;}
.W400{width:400px!important;margin-right:10px!important;}
.W410{width:410px!important;margin-right:10px!important;}

.MB5{margin-bottom:5px!important;}
.MB10{margin-bottom:10px;}
.MR20{margin-right:20px!important;}




@-webkit-keyframes ball-beat {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes ball-beat {
    50% {
        opacity: 0.2;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.ball-beat{top:50%;left:50%;z-index:11000;margin-top:-.55rem;margin-left:-1.5rem;position:absolute;}
.ball-beat > div{background-color:rgb(216,65,65);width:1rem;height:1rem;border-radius:100%;margin:.1rem;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block;-webkit-animation:ball-beat 0.7s 0s infinite linear;animation:ball-beat 0.7s 0s infinite linear;}
.ball-beat > div:nth-child(2n-1){-webkit-animation-delay:-0.35s !important;animation-delay:-0.35s !important;}
